@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

.mypage-container {
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  padding: 20px;
  background-color: #ffffff;
  border-radius: 24px;
}

.mypage-title {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  margin: 20px;
  color: #333333;
  font-weight: bold;
}

.mypage-basic-info {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #848484;
  font-size: 1.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
  position: relative;
}

.mypage-name,
.mypage-brith,
.mypage-gender {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mypage-label {
  display: inline-block;
  width: 120px;
  flex-shrink: 0;
}

.mypage-phone {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #848484;
  font-size: 1.5em;
  width: 100%;
  display: flex;
  gap: 15px;
  margin: 20px;
  align-items: center;
}

.mypage-email {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #848484;
  font-size: 1.5em;
  width: 100%;
  display: flex;
  gap: 15px;
  margin: 20px;
  align-items: center;
}

.mypage-password {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #848484;
  font-size: 1.5em;
  width: 100%;
  display: flex;
  gap: 15px;
  margin: 20px;
  align-items: center;
}

.mypage-edit-button {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 70px;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: #d9d9d9;
  cursor: pointer;
  font-size: 1rem;
  color: #848484;
  margin-left: auto;
  margin-right: 40px;
}

.mypage-basic-info .mypage-edit-button {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  margin: 0;
}

input,
select {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  padding: 7px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  width: 40%;
  height: 40px;
  box-sizing: border-box;
  line-height: 1.5;
  vertical-align: middle;
}
